body{
  font-family: ;
  min-width: 1400px;
}
.im_he{
  padding-top: -100px;
  width: 50px;
  float: left;
  padding-left: 150px;
}
.gray_scren{

  width: auto;
  padding-top: 100px;
  height: 260px;
  background-color:#f6f6f6
}
.green_word{
  color :#10cab7;
  text-align: center;
}
.txt1{
  text-align: center;
}
.txt2{
  text-align: center;
}
.imgx3{
  float: left;
  padding-top: 25px;
  padding-left: 220px;
  padding-right: 125px;
  margin-left: 20px;
}
.imgx3 img{
  width:75px;
}
.txt3{
    width: 300px;
    padding-top: 150px;
    padding-left: 140px;
    padding-right: 1000px;
    text-align: center;

}
.txt4{
    width: 300px;
    margin-top: -52px;
    padding-left:580px;
    text-align: center;
}
.txt5{
  padding-left: 1020px;
  width: 300px;
  margin-top: -52px;
  text-align: center;
}
.mid_txt{
  padding-top: 100px;
  text-align: center;
  padding-bottom: 70px;
}
.gery{
  font-size: 35px;
  color:#f6f6f6;
  text-align: center;
}
.pri_img img{
  width: 50px;
}
.pri{
  width: 50px;
  padding-left: 350px
}
.msg{
  width: 50px;
  padding-left: 350px;
  padding-top: 60px;
}
.pac{
  width: 50px;

  padding-left: 700px;
}
.txt6{
  font-size: 9px;
  margin-top: -60px;
  padding-left: 460px;
}
.txt7{
  margin-top: 50px;
  padding-left: 460px;
}
.txt8{
  margin-left: 460px;
  font-size: 9px;
  margin-top: -60px;
}
.txt9{
  padding-left: 460px;
  margin-top: 50px;
}
.pac_img img{

  width: 50px;
}

.pac_img{
  margin-top: -470px;
  padding-left: 700px
}
.txt10{
  font-size: 18px;
  margin-top: -42px;
  padding-left: 70px;
}
.txt11{
  padding-top: 040px;
  padding-left: 70px;
}
.kom{
  padding-top: 90px;
}
.txt12{
  font-size: 18px;
  margin-top: -42px;
  padding-left: 70px;
}
.txt13{
  padding-top: 040px;
  padding-left: 70px;
}
.grAR_word{
  color: #ebeced;
  font-size: 75px;
  padding-top: 100px;
  text-align: center;
}
.grAR_scren{
  height: 900px;
  margin-top: 250px;
  background-color:#fafafa
}
.port_wor{
  text-align: center;
}
.port_img{
  margin-top: 100px;
  max-width: 250px;
  padding-left: 100px;
  margin-left: 50px;
  float: left;
}
.immm{
  background-color: white;
  width: 250px;
  height: 250px;
}
.main_abb{
  color:#f6f6f6;
  margin-top: 100px;
  font-size: 100px;
  text-align: center;

}
.pod_main{
  text-align: center;
}
.txt14{
  padding-top: 100px;
  padding-right: 310px;
  float: right;
}
.txt15{
  margin-top: -200px;
  padding-left: 740px;
}
.txt16{

  color: #f6f6f6;
  font-size: 100px;
  text-align: center;
}
.txt17{
  margin-top: 100px;
  text-align: center;
}
.txt18{
  padding-left: 350px;
  color:#2c4755
}
a {
  font-size: 30px;
  color:#10cab7;
  text-decoration: underline;
}
.Gr_Sc{
  background-color:#fafafa;

}
.emm{
  padding-left: 20px;
}
.txt19{
  padding-left: 400px;
  padding-top: 50px;
}
.boll{
  padding-left: 700px;
}
.i{
  padding-right: 30px;
  padding-left: 40px;
  float: left;
}
.f{
  margin-top: -26px;
  padding-left: 150px;
}
footer{
  color: white;
  background-color:#2c4755;
}
.di{
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 600px;
  width: 250px;
}
.cont{
  box-sizing: border-box;
  margin-left: 1000px;
  width: 300px;
  background-color: ;
  position: relative;
  color: white;
  text-align: center;
  padding-top: 250px;
}
#check-menu{
  display: none;
}
label{

  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  cursor: pointer;
  line-height: 40px;
}
.burger-line{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color:black;
  transition: 0.3s all;
}
.burger-line:nth-of-type(2),
.burger-line:nth-of-type(3){
  top: 18px;
}
.burger-line:nth-of-type(4){
  top: 28px;
}
.main-menu{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transform: translateY(100%);
  transition: 1s all;

}

.main-menu a{
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  background-color:#2c4755;
  text-decoration: none;
  border: 1px solid gray;

}
.main-menu a:hover{
  background-color: orange;

}
#check-menu:checked ~ .main-menu{
  max-height: 1500px;
  font: 16px;

}
#check-menu:checked ~ .burger-line:nth-last-of-type(1),
#check-menu:checked ~ .burger-line:nth-last-of-type(4){
  display: none;

}
#check-menu:checked ~ .burger-line:nth-last-of-type(2){
  transform: rotate(45deg);
}
#check-menu:checked ~ .burger-line:nth-last-of-type(3){
  transform: rotate(-45deg);
}
.img2{
  margin-top: -400px;
  padding-left: 1100px;
}
.img1{
  padding-left: 75;
  padding-right: 600px;
}
.q{
  width: 100%;
  padding-top: 200px;
}
